/*/////////////// General styles ///////////////*/

html {
    font-size: 1vw;
    background-color: black;
    color: white;
    font-family: 'Open Sans';
}

.site-container {
    position: relative;
    top: 55.188px;
}

h1 {
    font-size: 4vw;
    font-family: Kanit;
}

a {
    text-decoration: inherit;
    color: inherit;
}

a:hover, a:active, a:visited {
    text-decoration: inherit;
    color: inherit;
}


/*/////////////// navigation styles ///////////////*/

header {
    border-bottom: 1px solid hsl(0, 0%, 90%);
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    z-index: 2;
    background-color: black;;
}

header span {
    margin: 2vw 6vw;
    opacity: 0.8;

}

/*/////////////// hero section styles ///////////////*/    

.hero {
    font-family: 'Faster One';
    font-size: 8vw;
    padding: 2vw;
    border-bottom: 1px solid hsl(0, 0%, 90%);
    height: 25vw;
}

.hero p {
    font-family: Kanit;
    color: #41608B;
    font-size: 1vw;
    padding-top: 5vw;
    
}

@-webkit-keyframes color {
    0% {color: #C75466;}
    20% {color: #398876;}
    40% {color: #D3A558;}
    60% {color: white;}
    80% {color: #15285C;}
    100% {color: #FAF890;}
}

.hero span {
    -webkit-animation: color 10s infinite alternate;
}

/*/////////////// about me section styles ///////////////*/   

.about-me {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 25vw;
    background-color: #398876;
}


.about-me-text {
    width: 50vw;
    display: block;
    border-left: 2px solid white;
    padding: 2vw;
    line-height: 2vw;
}

/*/////////////// my photography section styles ///////////////*/   

.my-photography  {
   padding: 2vw; 
   color: black;
   text-align: center;
   border-top: 1px solid hsl(0, 0%, 90%);
   height: 25vw;
   background-color: rgb(219, 199, 199);
   
}

.image-container {
    width: 21vw;
    height: 14vw;
    margin-bottom: 0.5vw;
}

.image-container img {
    width: 21vw;
    height: 14vw;
    border-radius: 2%;
}

.tile {
    height: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    margin-top: 3vw;
    
}

/*/////////////// footer section styles ///////////////*/  

footer {
    height: 25vw;
    border-top: 1px solid hsl(0, 0%, 90%);
    background-color: #D3A558;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw; 
}

footer h1 {
    text-align: center;
    margin-bottom: 3vw;
}

.button {
    background-color: #C75466;
    width: 4vw;
    font-weight: bold;
    text-align: center;
    padding: 0.75vw 1vw;
    border-radius: 5%;
    box-shadow: 1px 1px 2px 1px black;
    display: block;
}

.button:active {
    box-shadow: 1px 1px 4px 1px black;
}

